/*
	Color Scheme:
	primary: #D8BFDB
	secondary: #D1DBB4
	tertiary: #758F6E

	secondary backup: #868F6E
	tertiary backup: #CDE8C5
*/

/*Animation Declarations*/
@keyframes shrinkAndGrow{
	0%{ transform: scale(1) }
	25%{ transform: scale(.8) }
	50%{ transform: scale(1.2) }
	100%{ transform: scale(1) }
}

/*Scrollbar style*/
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,150,0.6); 
    -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,150,0.2); 
}

/*CSS Stylings*/
*{
	/*border: 1px solid rgba(0,0,0,.12);*/
	border-radius: 5px;
	color: #CDE8C5;
}

body{
	margin: auto;
	padding: 2px;
	max-width: 80%;
}

header{
	margin-bottom: .4rem;
}

input[type=text]{
	border: 0px;
	outline: none;
}

input[type=text]:focus{
	animation: shrinkAndGrow .6s cubic-bezier(.41,-0.39,.69,.93);
}

.flex-container{
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-flow: column wrap;
	padding: 1rem;
	background: #758F6E;
}

#masterList{
	background: #D8BEDB;
}

/*Header Elements*/
header .flex-container{
	background: #758F6E;
}

.header-container{
	padding: .5rem;
	margin: 2%;
	width: 98%;
	background: #868F6E;
	border: 1px solid #D1DBB4;
	box-shadow: 0px 1.5px 3px #D1DBB4,
				inset 0px -2px 2px #D1DBB4;
}

.nav-bar-container{
	padding: .5rem;
}

.nav-bar-container h1{
	padding: 10px;
	justify-content: center;
	text-align: center;
	font-size: 40px;
}

#twitter-handle{
	justify-content: center;
	text-align: center;
	padding: 1%;
}

/*Main Grocery List Elements*/
.grocery-category{
	padding: 5px;
	margin: 5px;
	background: #DBDEAF;
}

.grocery-category > *{
	background: #6E8F74;
}

.grocery-type{
	display: flex;
	padding: 10px;
	margin: .3rem;
	justify-content: space-around;
}

.grocery-list-container{
	display: flex;
	flex-flow: row wrap;
	align-self: center;
	justify-content: center;
	margin: .3rem;
	padding: .75rem;
}

.grocery-list-container label{
	display: flex;
	padding: 3px;
	margin: .65%;
	text-align: center;
	justify-content: center;
	align-self: center;
	border: 0px;
}

.grocery-list-container label i{
	display: flex;
	margin-left: .5rem;
}

.grocery-list-container label input[type=checkbox]{
	align-self: center;
}

.grocery-list-container label span{
	width: auto;
	height: 1rem;
	padding: 1px;
	margin-left: 5px;
	align-self: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grocery-list-container label span:hover{
	box-shadow: -1px -2px 2px rgba(0,0,0,.1) inset,
				1px 2px 2px rgba(0,0,0,.1) inset;
}

.grocery-subcategories{
	padding: .2rem;
	margin:.5rem;
	background: #868F6E;
}

.category-delete{

}	

/*Control Elements*/
.controls-container{
	display: flex;
	justify-content: center;
	border-radius: 3px;
	background-color: rgba(0,0,0,.32);
	box-shadow: 0px -2px 1px rgba(255,255,255,0.5) inset;
}

.controls-container>*{
	align-self: center;
	margin: .25rem;
}

.addItemButton{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addItemButton:hover{
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.addItemButton:active{
	position:relative;
	top:1px;
}

.addItemButton ~ label{
	border: 0px;
}

/*Category Creation Elements*/
.category-creation-container{
	display: flex;
	justify-content: space-around;
	align-self: flex-start;
	margin: .5rem auto;
	position: sticky;
	bottom: .25rem;
	border: 4px solid #D8BFDB;
	border-radius: .5rem;
}

.category-controls{
	background-color: #868F6E;
	border-radius: .20rem;
	padding: 0 5px;
}

.category-controls>*{
	align-self: center;
	margin: .5rem .5rem;
}

.addCategoryButton{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addCategoryButton:hover{
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.addCategoryButton:active{
	position:relative;
	top:1px;
}

#categoryBtn ~ label{
	border: 0px;
}