*{
	border: 1px solid rgba(0,0,0,.2);
}

.flex-container{
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-flow: column wrap;
}

.grocery-list-container{
	align-self: center;
	justify-content: center;
	margin: .3rem;
	padding: .75rem;
}

.grocery-list-container label{
	display: flex;
	padding: 3px;
	margin: .65%;
	text-align: center;
	justify-content: center;
}

.grocery-category{
	padding: 5px;
	margin: 5px;
}

.grocery-type{
	text-align: center;
	padding: 10px;
	margin: .3rem;
}

.addItemButton{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addItemButton:hover{
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.addItemButton:active{
	position:relative;
	top:1px;
}

.addItemButton + span{
	padding: 2px;
	margin-left: 2px;
	text-align: center;
}

.addItemButton + label{
	border: 0px;
}

.addItemButton + label input[type=text]:hover{
	background-color: rgba(0,0,0,.1);
}